/*
    Kristian Wareing
    CSD 340 Web Development with HTML and CSS
    Assignment 2.2 - Building a Web Page Exercise, Part 2
    August 15, 2026
*/

html,
body {
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
}

#container {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1em;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

p {
    font-weight: 400;
    line-height: 1.4em;
}

.intro {
    text-indent: 2em;
}

.sentence {
    font-style: italic;
}

address {
    text-align: center;
}

address a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

address a:visited {
    color: #7A5CA8;
}

address a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}
